In [1]:
v1 = "first string"

In [2]:
v2 = "second string"

In [3]:
#try swapping these variables
a = v1
b = v2

In [4]:
print(a)
print(b)

first string
second string

In [5]:
v1 = b
v2 = a

In [6]:
print(v1)
print(v2)

second string
first string

In [7]:
#below is the best way to swap these variables
#use a temp variable
v1 = "first string"
v2 = "second string"
temp = v1
v1 = v2
v2 = temp

In [8]:
print(v1)
print(v2)

second string
first string

In [9]:
name = input("What is your name? ")
print("Hello " + name)

What is your name? Gabby
Hello Gabby

In [10]:
#Data Types in Python
#Numbers
10
#Strings
"Mosh"
#Booleans
True

True

In [14]:
birth_year = input("Enter your birth year: ")

Enter your birth year: 1999

In [15]:
age = 2023 - birth_year

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [ ]:
print(age)

In [ ]:
#age = 2023 - birth_year didn't work because it is trying to combine two types of data (integers and strings)

In [17]:
age = 2023 - int(birth_year)

In [18]:
print(age)

24

In [ ]:
#to get the code to work, we have to pass the string through an integer function like int(birth_year)
#it converts the string birth_year into an integer

In [19]:
#float is a number with a decimal point
#int()
#float()
#bool()
#str()
#these are the four built in functions to convert variables

In [20]:
#exercise
First: 10.1
Second: 20
Sum: 30.1

In [28]:
first = input("First: ")
second = input("Second: ")
sum = float(first) + float(second)
print("Sum: " + str(sum))

First: 10.1
Second: 20
Sum: 30.1

In [29]:
#boolean values True and False must be capitalized

In [30]:
#things we can do with Strings
#strings are immutable. They cannot be changed by the object functions.
course = "Python for Beginners" #storing a String object

In [31]:
print(course.upper())

PYTHON FOR BEGINNERS

In [32]:
print(course.lower())

python for beginners

In [34]:
print(course.find('y'))
#remember that we count characters starting with 0

1

In [35]:
print(course.replace('for', '4'))

Python 4 Beginners

In [36]:
#using the "In" operator to see if something is contained in a string
print("Python" in course)

True

In [37]:
#division in Python can be done with / or //
# / will give a float. // will give a rounded int
# % will give the remainder
#exponents are shown by **

In [38]:
# x = 10
# x = x + 3
# x += 3 this is the same as the line above and can be done with any arithmetic function

In [39]:
#Comparison operators
x = 3 > 2 #boolean expression
print(x)

True

In [40]:
#Equality operator is == and inequality operator !=
x = 3 != 2
print(x)

True

In [43]:
#Logical operators
price = 5
print(price > 10 and price < 30) #and operator
print(price > 10 or price <30) #or operator which returns true if at least one is true

False
True

In [44]:
#not operator
print(not price>10) #inverses any value given

True

In [48]:
#if statements
temperature = 25
if temperature > 30: 
    print("It's a hot day") #this is indented because it will only process if the if statement is true
    print("Drink plenty of water")
elif temperature > 20: # (this means it is between 20 and 30)
    print("It's a nice day")
elif temperature > 10:
    print("It's a bit cold")
else: 
    print("It's cold")
#press Shift + Tab to unindent
print("Done")

It's a nice day
Done

In [55]:
#Write a weight converter program
#First, ask for the person's weight
#Second, ask if it is in (K)g or (L)bs
#Last, return the result as the opposite
weight = input("Weight: ")
measure = input("(K)g or (L)bs: ")
if measure.upper() == "L":
    converted = float(weight) * 0.454
    print("Weight in kg: " + str(converted))
else:
    float(weight)
    converted = float(weight) * 2.205
    print("Weight in Lbs: " + str(converted))

Weight: 76
(K)g or (L)bs: k
Weight in Lbs: 167.58

In [56]:
#Why loops in Python
i = 1
while i <= 5:
    print(i)
    i = i + 1 #this allows our code to continue until i reaches 5. Otherwise, it would run forever.

1
2
3
4
5

In [57]:
i = 1
while i <= 10:
    print(i * "*") #we can multiply a number by a string
    i = i + 1

*
**
***
****
*****
******
*******
********
*********
**********

In [63]:
#List data type
names = ["John", "Bob", "Mosh", "Sam", "Mary"]
print(names)
print(names[0]) #returns first element
print(names[-1]) #returns last element
print(names[-2])
print(names[0:3]) #will return elements 0,1,2,3. Returns new list

['John', 'Bob', 'Mosh', 'Sam', 'Mary']
John
Mary
Sam
['John', 'Bob', 'Mosh']

In [69]:
numbers = [1, 2, 3, 4, 5]
numbers.append(6) #adds 6 to the end of the list
print(numbers)
numbers.insert(0, -1) #adds the number -1 to the beginning of the list (index 0)
print(numbers)
numbers.remove(3) #removes the number 3 from the list
print(numbers)
print(1 in numbers) #this is a boolean expression to see if one is in the list
print(len(numbers)) #len shows the numbers of elements in a list
numbers.clear() #clears list contents
print(numbers)

[1, 2, 3, 4, 5, 6]
[-1, 1, 2, 3, 4, 5, 6]
[-1, 1, 2, 4, 5, 6]
True
6
[]

In [70]:
#Iterate over a list and work with items individually
numbers = [1, 2, 3, 4, 5]
for item in numbers: #this is a for loop to iterate over a list
    print(item)

1
2
3
4
5

In [71]:
#Iterating over a list with a why loop
numbers = [1, 2, 3, 4, 5]
i = 0
while i < len(numbers):
    print(numbers[i])
    i += 1

1
2
3
4
5

In [74]:
#Using the range function
numbers = range(5) #returns a range object that can store a sequence of numbers
#iterate over a range object with a for loop
for number in numbers:
    print(number)

numbers = range(5, 10) #this is a range that goes from 5-9 (excludes 10)
for number in numbers:
    print(number)

0
1
2
3
4
5
6
7
8
9

In [75]:
#range function using a step
numbers = range(5, 10, 2) #the 2 makes it jump by 2
for number in numbers:
    print(number)

5
7
9

In [77]:
#range function. you don't need to store the range in a variable
for number in range(0,5):
    print(number)

0
1
2
3
4

In [ ]:
#tuples in Python. They are inmutable
numbers = (1, 2, 3) #square brackets are for lists; round brackets are for tuples
#you cannot alter a tuple. you can only count and index a tuple

In [83]:
#lists can contain multiple data types
#lists can contain other lists
a = [3, 10, -1, 1]
a.append("hello") #adding a string to a list of ints
a.append([1, 2]) #adding a list to list "a"
print(a)
a.pop() #to delete the last item from the list
print(a)
print(a[0]) #to print the first item from the list
a[0] = 100 #to change a value in a list
print(a)

[3, 10, -1, 1, 'hello', [1, 2]]
[3, 10, -1, 1, 'hello']
3
[100, 10, -1, 1, 'hello']

In [84]:
#to rearrange the items in a list
a[0], a[1] = a[1], a[0] #rearranges the first and second elements in a list
print(a)

[10, 100, -1, 1, 'hello']

In [85]:
#Functions
C:\python_examples>python
    dir()

SyntaxError: unexpected character after line continuation character (304265640.py, line 2)

In [87]:
#Functions
dir()
def f(): #: to start a new code block
    pass #pass tells Python to skip this line
f() #this calls the function

In [88]:
print(dir())

['In', 'Out', '_', '_10', '__', '___', '__annotations__', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i62', '_i63', '_i64', '_i65', '_i66', '_i67', '_i68', '_i69', '_i7', '_i70', '_i71', '_i72', '_i73', '_i74', '_i75', '_i76', '_i77', '_i78', '_i79', '_i8', '_i80', '_i81', '_i82', '_i83', '_i84', '_i85', '_i86', '_i87', '_i88', '_i9', '_ih', '_ii', '_iii', '_oh', 'a', 'age', 'b', 'birth_year', 'converted', 'course', 'exit', 'f', 'first', 'get_ipython', 'i', 'item', 'measure', 'name', 'names', 'number', 'numbers', 'open', 'price', 'quit', 'second', 'sum', 'temp', 'temperature', 'v1', 'v2', 'weight', 'x']

In [89]:
print(f()) #this is an empty function

None

In [90]:
def ping():
    return "Ping!"
print(ping())

Ping!

In [91]:
x = ping() #this stores the function ping as variable x
print(x)
print(dir())

Ping!
['In', 'Out', '_', '_10', '__', '___', '__annotations__', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i62', '_i63', '_i64', '_i65', '_i66', '_i67', '_i68', '_i69', '_i7', '_i70', '_i71', '_i72', '_i73', '_i74', '_i75', '_i76', '_i77', '_i78', '_i79', '_i8', '_i80', '_i81', '_i82', '_i83', '_i84', '_i85', '_i86', '_i87', '_i88', '_i89', '_i9', '_i90', '_i91', '_ih', '_ii', '_iii', '_oh', 'a', 'age', 'b', 'birth_year', 'converted', 'course', 'exit', 'f', 'first', 'get_ipython', 'i', 'item', 'measure', 'name', 'names', 'number', 'numbers', 'open', 'ping', 'price', 'quit', 'second', 'sum', 'temp', 'temperature', 'v1', 'v2', 'weight', 'x']

In [93]:
#Volume of a sphere
import math #this allows us to use the pi function
print(dir(math))
print(math.pi) #prints pi

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
3.141592653589793

In [94]:
#Volume of a sphere continued...
def volume(r):
    """Returns the volume of a sphere with radius r.""" #"""This provides documentation for functions"""
    v = (4.0/3.0) * math.pi * r**3 #remember that ** is used for exponents
    return v
volume(2)

33.510321638291124

In [95]:
#Area of a triangle
#A=(1/2)b*h
def triangle_area(b, h):
    """Returns the area of a triangle with base b and height h."""
    return 0.5 * b * h
triangle_area(3, 6)

9.0

In [96]:
#Keyword Arguments
#Write a function that converts a person's height from in to cm
#1 in = 2.54 cm
#1 foot = 12 in
def cm(feet = 0, inches = 0): #default arguments. We set values to the argument.
    """Converts a length from feet and inches to centimeters"""
    inches_to_cm = inches * 2.54
    feet_to_cm = feet * 12 * 2.54
    return inches_to_cm + feet_to_cm
cm(feet = 5)
cm(inches = 70)
cm(feet = 5, inches = 8)

172.72

In [97]:
#Types of Arguments: Keyword & Required
#Keyword arguments must come last
#List required arguments first
def g(y, x = 0):
    return x + y
g(5) #you must return a value for y, but you don't have to for x.
#if you don't choose a value for x, then the default value of 0 is used.

5

In [100]:
#Functions
#Functions are collections of instructions or code
def function1():
    print("ahhh") # the spacing for all lines of code within a function must be even
    print("ahhh 2")
print(" this is outside the function ")   

function1() # to call the function

 this is outside the function
ahhh
ahhh 2

In [103]:
# a mapping
def function2(x): # this asks you to input an argument
    return 2 * x
a = function2(3)
print(a)

6

In [105]:
def function3(x, y):
    return x + y
e = function3(1, 2)
print(e)

3

In [106]:
def function4(x):
    print(x)
    print("still in this function")
    return 3 * x
f = function4(4)
print(f)

4
still in this function
12

In [113]:
# BMI calculator
name1 = "YK"
height_m1 = 2
weight_kg1 = 2

name2 = "YK's Sister"
height_m2 = 1.8
weight_kg2 = 70

def bmi_calculator(name, height_m, weight_kg):
    bmi = weight_kg / (height_m ** 2)
    print("BMI: ")
    print(bmi)
    if bmi < 25:
        return name + " is not overweight"
    else:
        return name + " is overweight"

In [114]:
result1 = bmi_calculator(name1, height_m1, weight_kg1)
print(result1)
result2 = bmi_calculator(name2, height_m2, weight_kg2)
print(result2)

BMI:
0.5
YK is not overweight
BMI:
21.604938271604937
YK's Sister is not overweight

In [115]:
# Write a function that converts miles into km
# km = 1.6 * miles
def km_converter(miles):
    km = 1.6 * miles
    return km

In [116]:
km1 = km_converter(60)
print(km1)

96.0

In [117]:
# Python has functions included in its system
# Example
fam = [1.73, 1.68, 1.71, 1.89]
# let's get the max from the list fam
tallest = max(fam)
print(tallest)

1.89

In [125]:
# using the round() function
round(1.6877, 2)
round(1.6877, 1)

1.7

In [126]:
#use the help function for hints
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [128]:
#Python Arrays vs Lists
#Lists != Arrays
#Python lists are ordered sequences of heterogeneous elements
#Ex: stuff = [1, 'apple', foo]
#Arrays are ordered sequences of homogeneous elements
#class array.array(typecode[, initializer])
import array
numbers = array.array('i', [1, 2, 3, 4, 5])
print(numbers) #notice how Python prints arrays differently.
numbers.append(6)
print(numbers)

array('i', [1, 2, 3, 4, 5])
array('i', [1, 2, 3, 4, 5, 6])

In [129]:
#numpy -- a Python library for arrays
#installing numpy
!pip install numpy
import numpy as np

Requirement already satisfied: numpy in /Users/gabriellejames/anaconda3/lib/python3.11/site-packages (1.24.3)

In [131]:
#creating arrays with numpy
data = np.random.rand(2, 3, 4) #an array of random numbers
zeroes = np.zeros((2, 2, 2)) #an array of zeroes
full = np.full((2, 2, 2), 7) #an array of a specific number, in this case, 7
ones = np.ones((2, 2, 2)) #an array of ones

In [133]:
#creating a custom numpy array
arr = np.array([[1, 2, 3, 4], [1, 2, 3, 4]])
print(arr)

[[1 2 3 4]
 [1 2 3 4]]

In [137]:
#Attributes
shape = data.shape # using the array from above
size = data.size
types = data.dtype
print(shape)
print(size)
print(types)

(2, 3, 4)
24
float64

In [141]:
#Slicing an Array
arr = data[0] #get first instance of data (the three and four in our array)
slicer = data[0:2] #gets specific values
reverse = data[-1] #gets the last piece
singlevel = data[0][0][0] #gets a single value

In [143]:
#Basic Math
array1 = np.random.rand(10)
array2 = np.random.rand(10)
add = np.add(array1, array2)
sub = np.subtract(array1, array2)
div = np.divide(array1, array2)
mult = np.multiply(array1, array2)
dot = np.dot(array1, array2) #multiplies everything together and aggregates the data

In [144]:
#Statistical Functions
sqrt = np.sqrt(25) #square root
ab = np.abs(-2) #absolute value
power = np.power(2, 7) #calculating a power
log = np.log(25) #log function
exp = np.exp([2, 3]) #exponential
mins = np.min(array1) #minimum
maxs = np.max(array1) #maximum

In [145]:
#to access a certain value in an array
data[0][0][0] = 700 #this collects the exact value in an array and changes it
data.sort() #sorts the data in an array
print(data.shape) #shows the shape of the array

(2, 3, 4)

In [146]:
#to reshape an array
data = data.reshape(2, 2, -1) #the -1 means we do not care about the last number/shape aspect
data.shape #this will show the shape of the array and the last number is calculated for what it needs to be

(2, 2, 6)

In [149]:
zeroes = np.zeros((8))
print(zeroes)
zeroes = np.append(zeroes, [3, 4]) #adds [3,4] to the end
print(zeroes)

[0. 0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0. 0. 3. 4.]

In [150]:
#to add zeroes into the middle of the array
zeroes = np.insert(zeroes, 2, 1) #adds the number 1 as spot number 2
print(zeroes)

[0. 0. 1. 0. 0. 0. 0. 0. 0. 3. 4.]

In [153]:
#To delete a section of an array
np.delete(data, 0, axis = 1) #pass through the array, specify which level, specify whether row or column
print(data)

[[[1.65972761e-02 7.60405851e-01 9.42265437e-01 7.00000000e+02
   9.07192517e-02 7.15140390e-01]
  [7.93826938e-01 8.21393240e-01 1.18614298e-01 3.23865724e-01
   7.42331402e-01 9.29037129e-01]]

 [[3.57273866e-01 4.27275332e-01 7.28787971e-01 9.11572999e-01
   1.63373581e-01 6.41094751e-01]
  [6.70086354e-01 6.75170857e-01 5.53488491e-02 1.80163643e-01
   6.07193445e-01 6.37495115e-01]]]

In [154]:
#to save an array
np.save("new array", data)

In [156]:
#to reload from memory
test = np.load("new array.npy")
print(test)

[[[1.65972761e-02 7.60405851e-01 9.42265437e-01 7.00000000e+02
   9.07192517e-02 7.15140390e-01]
  [7.93826938e-01 8.21393240e-01 1.18614298e-01 3.23865724e-01
   7.42331402e-01 9.29037129e-01]]

 [[3.57273866e-01 4.27275332e-01 7.28787971e-01 9.11572999e-01
   1.63373581e-01 6.41094751e-01]
  [6.70086354e-01 6.75170857e-01 5.53488491e-02 1.80163643e-01
   6.07193445e-01 6.37495115e-01]]]

In [162]:
#Using arrays to calculate BMI
height = [1.73, 1.68, 1.71, 1.89, 1.79]
np_height = np.array(height)
print(np_height)
weight = [65.4, 59.2, 63.6, 88.4, 68.4]
np_weight = np.array(weight)
print(np_weight)
bmi = np_weight/np_height ** 2
print(bmi) #calculations can iterate over each element of an array

[1.73 1.68 1.71 1.89 1.79]
[65.4 59.2 63.6 88.4 68.4]
[21.85171573 20.97505669 21.75028214 24.7473475  21.34764833]

In [164]:
#To get boolean values for an array
#For example, I want to gather BMIs that are over 23
print(bmi > 23)
#To return only the values in an array that are over 23, use the booleans again
print(bmi[bmi > 23])

[False False False  True False]
[24.7473475]

In [168]:
#2D NumPy Arrays
#An array of heights and weights
np_2d = np.array([[1.73, 1.68, 1.71, 1.89, 1.79],
                 [65.4, 59.2, 63.6, 88.4, 68.7]])
print(np_2d)

print(np_2d.shape) #the first number is rows, second is columns

#To get the heights and weights of the second and third people
np_2d[:, 1:3] # the colon means both rows
print(np_2d[:, 1:3])

[[ 1.73  1.68  1.71  1.89  1.79]
 [65.4  59.2  63.6  88.4  68.7 ]]
(2, 5)
[[ 1.68  1.71]
 [59.2  63.6 ]]

In [ ]:
#Statistics in NumPy
# np.mean
# np.median
# np.corrcoef checks for correlation
# np.std standard deviation
# sum()
# sort()

#Generate Data
height = np.round(np.random.normal(1.75, 0.20, 5000), 2) #generates random heights
weight = np.round(np.random.normal(60.32, 15, 5000), 2) #generates random weights
np_city = np.column_stack((height, weight)) #combines the two arrays into a single array with 2 columns

In [170]:
# NumPy Tutorial 1 -- Creating Arrays and Dimensional Arrays
# Zero Dimensional Array
zero_dim = np.array(38567)
print(zero_dim)
# One Dimensional 
one_dim = np.array([1, 2, 3])
print(one_dim)
# Two Dimensional
two_dim = np.array([[1, 2, 3], [4, 5, 6]])
print(two_dim)
# Three Dimensional
three_dim = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print(three_dim)

38567
[1 2 3]
[[1 2 3]
 [4 5 6]]
[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

In [171]:
#To find the dimension of a given array
print(three_dim.ndim) #this prints the dimension of a given array

3

In [ ]:
#Give an array any dimension you want!
new_array = np.array(17, ndmin = 5) #5 dimensional array

In [ ]:
#Test for commit